body {
  background-color: #F0EEED;
  background-image: url(images/);
  font-family: Arial, sans-serif;
}

body {
  background-image:url('');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; font-family: Arial, sans-serif; margin:0px
}
